name: CI/CD for Employee Management Sys

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        working-directory: EmployeeManagementSystem
        run: mvn clean install -DskipTests

      - name: Run Tests
        working-directory: EmployeeManagementSystem
        run: mvn test
